body {
    margin: 0;
    background: #fefefe;

}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    font-family: "Roboto", sans-serif;
}

.box {
    background: #609af8;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

    width: 3rem;
    height: 10rem;
}

#infiniteTapeCurrentValue, #odometerCurrentValue {
    font-weight: 500;
}

.box-item {
    color: white;
    font-weight: 600;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

/* Actions */

.input-label {
    font-size: 1rem;
    font-weight: 300;
}

input {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    padding: 0.25rem;

    font-size: 1rem;
    font-weight: 500;
}

.action-buttons {
    margin-top: 0.25rem;

    display: flex;
    gap: 0.25rem;
}

.action-buttons > button {
    transition: 0.1s ease;

    width: 100%;

    padding: 0.5rem;

    background: #609af8;
    color: white;

    font-weight: 600;
    font-size: 0.9rem;

    border: none;
    border-radius: 0.25rem;
}

.action-buttons > button:hover {
    transition: 0.1s ease;

    cursor: pointer;

    background: #3b82f6;
}

.reset-button {
    background: lightcoral !important;
}

.reset-button:active, .reset-button:hover {
    transition: 0.1s ease;
    background: coral !important;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}